<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp8</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="remote">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Remote
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="paging">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Paging
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Filtering">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Filtering
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Virtualization">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Virtualization
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Grouping">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grouping
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sorting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sorting
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Templates">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Templates
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Rowstyle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rowstyle
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Formsupport">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Formsupport
            </NavLink>
        </div>
    </nav>
</div>

